@using Identity101.Models.Role
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Ana Sayfa</title>
</head>
<body>
<div>
    <h1>Hoşgeldiniz</h1>
    @if (Context.User.Identity!.IsAuthenticated)
    {
        if (Context.User.IsInRole(Roles.Admin))
        {
            <a asp-controller="Admin" asp-action="Index">Admin Panel</a>
        }
        <br/>
        <a asp-controller="Account" asp-action="Logout">Çıkış Yap</a>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login">Giriş Yap</a><br/>
        <a asp-controller="Account" asp-action="ResetPassword">Şifremi unuttum</a> 
    }
</div>
</body>
</html>