@model AdminTemplate.ViewModels.Dashboard.DashboardViewModels

@{
	ViewBag.Title = "Homepage";
}

<h1>Dashboard</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <partial name="Partials/Dashboard/_ProductReportPartialView" model="Model.ProductReportViewModel"/>
        </div>
        <div class="col-md-4">
            @await Component.InvokeAsync("CategoryReport")
        </div>
    </div>
</div>
